
body
{
background-color:#FFFFFF;
font-family:sans-serif;
}

/* If screen size is more than 600px wide, set the font-size of <div> to 80px */
@media screen and (min-width: 600px) {
  div {
    font-size: 18px;
  }
}

/* If screen size is 600px wide, or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div {
    font-size: 30px;
  }
}

nav
{
font-family:'Roboto', sans-serif;
font-weight: 300;
font-size:30px;
color: #FFFFFF;
text-align:center;
background: #acd8d0ff;
word-spacing:60px;
margin: 5px 25px 0px 25px;
padding: 22px; /* TRouBLe */
}

nav a:link {
    color: #ffffff;
    text-decoration:none;
}
nav a:visited {
    color: #ffffff;
}
nav a:hover {
    color: #8d8d8d;
}    
p
{
font-family:'Roboto', sans-serif;
font-size:20px;
font-weight:400;
text-align: center;
margin: 25px 50px 25px 50px; /* TRouBLe */
}

.containingbox p { margin-top: 0;}

p a:link { /* unvisited link */
    color:#383838;
    font-weight:700;
    text-decoration:underline;
    }
p a:visited {
    color:#383838;
    }
p a:hover {
    color:#8D8D8D;
    }
nav.footer
{
font-size:16px;
margin: 5px 5px 5px 5px; /* TRouBLe */
}

p.footer
{
color: #383838;
background: #acd8d0ff;
text-align:center;
word-spacing:0px;
}

p.footer a:link { /* unvisited link */
    color:#FFFFFF;
    font-weight:400;
    text-decoration:underline;
    }   
p.footer a:visited {
    color:#FFFFFF;
    } 
p.footer a:hover {
    color:#8D8D8D;
    }
