body
{
background-color:#FFFFFF;
font-family:'Quicksand', sans-serif;
}

h1
{
font-family:'Josefin Sans', sans-serif;
font-weight: 600;
font-size: 60px;
color:#FFFFFF;
text-align:center;
background: #680148;
margin: 25px 25px 0px 25px;
padding: 22px;
}

nav
{
font-family:'Josefin Sans', sans-serif;
font-weight: 300;
font-size:30px;
color: #FFFFFF;
text-align:center;
background: #680148;
word-spacing:60px;
margin: 5px 25px 0px 25px;
padding: 22px; /* TRouBLe */
}

nav a:link {
    color: #ffffff;
    text-decoration:none;
}
nav a:visited {
    color: #ffffff;
}
nav a:hover {
    color: #7DB4B5;
}    

h2
{
font-family:'Josefin Sans', sans-serif;
font-weight: 700;
font-size:25px;
text-align:justify;
margin: 25px 50px 25px 50px; /* TRouBLe */
}

h3
{
font-family:'Josefin Sans', sans-serif;
font-weight: 600;
font-size:25px;
text-align:justify;
margin: 25px 50px 25px 50px; /* TRouBLe */
}

p
{
font-family:'Merriweather', sans-serif;
font-size:16px;
font-weight:400;
text-align: justify;
margin: 25px 50px 25px 50px; /* TRouBLe */
}

iframe
{
margin: 5px 50px 5px 50px; /* TRouBLe */
float:left;
}

photo
{
display: flex;
margin: auto;
}
/* {
float:right;
margin: -312px 25px 10px -10px;
clear: right;
} */

.containingbox p { margin-top: 0;}

p a:link { /* unvisited link */
    color:#000000;
    font-weight:700;
    text-decoration:underline;
    }
p a:visited {
    color:#000000;
    }
p a:hover {
    color:#7DB4B5;
    }
    
h3 a:link { /* unvisited link */
    color:#000000;
    font-weight:700;
    text-decoration:underline;
    }
h3 a:visited {
    color:#000000;
    }
h3 a:hover {
    color:#7DB4B5;
    }

#video {
    float: none;
     clear: both;
     text-align: center;
    align-content: center;
    } 

#video iframe{
    float: none;
    clear: both;
    width:90%;
    max-width: 600px;
    margin-top: 0;
    margin-right: 5%;
    margin-bottom: 0px;
    margin-left: 5%;
}

#video p{
    line-height: 25px;
    float: none;
    clear: both;
    margin: 0px 10% 50px 10%;
}

p.social
{
text-align:justify;
}

ul
{
font-family:'Merriweather', sans-serif;
font-size:16px;
font-weight:400;
text-align: justify;
margin: 25px 50px 25px 50px; /* TRouBLe */
}

nav.footer
{
font-size:16px;
margin: 25px 25px 25px 25px; /* TRouBLe */
}

p.footer
{
color: #FFFFFF;
background: #680148;
text-align:center;
word-spacing:0px;
}

p.footer a:link { /* unvisited link */
    color:#FFFFFF;
    font-weight:400;
    text-decoration:underline;
    }   
p.footer a:visited {
    color:#FFFFFF;
    } 
p.footer a:hover {
    color:#7DB4B5;
    }

@media screen and (max-width: 700px) {
    
   * {
       box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }           
    
    * img {
        max-width: 700px;
    }   
    
    header {
        float: none;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
}
