body
{
background-color:#EFFFCD;
}

h1
{
font-family:'Quicksand', sans-serif;
color:#2E2633;
text-align:center;
background: #EFFFCD; /*transparent or color*/
}

nav
{
font-family:'Quicksand', sans-serif;
font-size:20px;
color: orange;
text-align:center;
background: #DCE9BE; /*transparent or color*/
padding: 52px;
}

h2
{
font-family:'Quicksand', sans-serif;
font-size:20px;
text-align:center;
margin: 25px 25px 25px 25px; /* TRouBLe */
padding: -5px -5px -5px -5px;
}

p
{
font-family:'Jacques Francois', serif;
font-size:20px;
text-align: justify;
margin: 25px 25px 25px 25px; /* TRouBLe */
padding: -5px -5px -5px -5px;
}

p.footer
{
color: orange;
text-align: center;
background: #DCE9BE; /*transparent or color*/
}

a:link {color:#FF0000;}    /* unvisited link */
a:visited {color:teal;} /* visited link */
a:hover {color:#FF00FF;}   /* mouse over link */
a:active {color:#0000FF;}  /* selected link */